:root {
  --color-01: #535971;
  --color-02: #efefef;
  --color-03: #ff5374;
  --color-04: #c1bccc;
  --color-05: #000000;
  --color-06: #ffffff;
  --color-07: #4e4958;
  --color-08: #453f53;
  --color-09: #fafafc;
}
